{% extends "base.html" %}

{% block content %}
    <section class="uk-container-small uk-align-center">
        <h1>Add Match</h1>
        <form class="uk-grid-small" action="" method="POST" uk-grid >
            <div class="uk-width-1-1">
                <input class="uk-input" type="text" placeholder="Match ID" name="match_id">
            </div>
            <div class="uk-width-1-3">
                <input class="uk-input blue" type="text" placeholder="PLAYER NAME 1" name="player1">
            </div>
            <div class="uk-width-1-6">
                <select class="uk-select" name="role1">
                    <option>TOP</option>
                    <option>JUNGLE</option>
                    <option>MIDDLE</option>
                    <option>BOTTOM</option>
                    <option>SUPPORT</option>
                </select>
            </div>
            <div class="uk-width-1-3">
                <input class="uk-input red" type="text" placeholder="PLAYER NAME 6" name="player6">
            </div>
            <div class="uk-width-1-6">
                <select class="uk-select" name="role6">
                    <option>TOP</option>
                    <option>JUNGLE</option>
                    <option>MIDDLE</option>
                    <option>BOTTOM</option>
                    <option>SUPPORT</option>
                </select>
            </div>
            <div class="uk-width-1-3">
                <input class="uk-input blue" type="text" placeholder="PLAYER NAME 2" name="player2">
            </div>
            <div class="uk-width-1-6">
                <select class="uk-select" name="role2">
                    <option>TOP</option>
                    <option>JUNGLE</option>
                    <option>MIDDLE</option>
                    <option>BOTTOM</option>
                    <option>SUPPORT</option>
                </select>
            </div>
            <div class="uk-width-1-3">
                <input class="uk-input red" type="text" placeholder="PLAYER NAME 7" name="player7">
            </div>
            <div class="uk-width-1-6">
                <select class="uk-select" name="role7">
                    <option>TOP</option>
                    <option>JUNGLE</option>
                    <option>MIDDLE</option>
                    <option>BOTTOM</option>
                    <option>SUPPORT</option>
                </select>
            </div>
            <div class="uk-width-1-3">
                <input class="uk-input blue" type="text" placeholder="PLAYER NAME 3" name="player3">
            </div>
            <div class="uk-width-1-6">
                <select class="uk-select" name="role3">
                    <option>TOP</option>
                    <option>JUNGLE</option>
                    <option>MIDDLE</option>
                    <option>BOTTOM</option>
                    <option>SUPPORT</option>
                </select>
            </div>
            <div class="uk-width-1-3">
                <input class="uk-input red" type="text" placeholder="PLAYER NAME 8" name="player8">
            </div>
            <div class="uk-width-1-6">
                <select class="uk-select" name="role8">
                    <option>TOP</option>
                    <option>JUNGLE</option>
                    <option>MIDDLE</option>
                    <option>BOTTOM</option>
                    <option>SUPPORT</option>
                </select>
            </div>
            <div class="uk-width-1-3">
                <input class="uk-input blue" type="text" placeholder="PLAYER NAME 4" name="player4"> 
            </div>
            <div class="uk-width-1-6">
                <select class="uk-select" name="role4">
                    <option>TOP</option>
                    <option>JUNGLE</option>
                    <option>MIDDLE</option>
                    <option>BOTTOM</option>
                    <option>SUPPORT</option>
                </select>
            </div>
            <div class="uk-width-1-3">
                <input class="uk-input red" type="text" placeholder="PLAYER NAME 9" name="player9">
            </div>
            <div class="uk-width-1-6">
                <select class="uk-select" name="role9">
                    <option>TOP</option>
                    <option>JUNGLE</option>
                    <option>MIDDLE</option>
                    <option>BOTTOM</option>
                    <option>SUPPORT</option>
                </select>
            </div>
            <div class="uk-width-1-3">
                <input class="uk-input blue" type="text" placeholder="PLAYER NAME 5" name="player5">
            </div>
            <div class="uk-width-1-6">
                <select class="uk-select" name="role5">
                    <option>TOP</option>
                    <option>JUNGLE</option>
                    <option>MIDDLE</option>
                    <option>BOTTOM</option>
                    <option>SUPPORT</option>
                </select>
            </div>
            <div class="uk-width-1-3">
                <input class="uk-input red" type="text" placeholder="PLAYER NAME 10" name="player10">
            </div>
            <div class="uk-width-1-6">
                <select class="uk-select" name="role10">
                    <option>TOP</option>
                    <option>JUNGLE</option>
                    <option>MIDDLE</option>
                    <option>BOTTOM</option>
                    <option>SUPPORT</option>
                </select>
            </div>
            <div class="uk-width-2-3"></div>
            <div class="uk-width-1-3">
                <button class="uk-button uk-button-default uk-align-right">Add Match!</button>
            </div>
        </form>
    </section>
{% endblock %}